.main{
	position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: url(../images/Background.jpg);
    background-size: 100%;
}

.mainContent{
    margin: 0 auto;
    height: 90%;
    width: 90%;
    background-color: #424242;
    margin-top: 30px;
    opacity: 0.9;
    color: white;
	text-align: center;
}

.mainContent h2{
    padding-top: 45px;
    font-size: 40px;
    font-weight: bold;
}

.mainContent button{
	margin-top: 80px;
    font-size: 30px;
    height: 80px;
    width: 250px;
}

.mainContent p{
	margin-top: 40px;
   	font-size: 25px;
}

.mainContent h1{
   	color: darkgrey;
    font-size: 70px;
    border-bottom: solid;
}

.mainContent p:hover, .overlay p:focus {
    border: solid dimgrey;
}